trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '18.x'

  - script: |
      npm install
    displayName: 'Install NPM dependencies'

  - task: SonarQubePrepare@7
    inputs:
      SonarQube: 'Sonarqube'
      scannerMode: 'cli'
      configMode: 'manual'
      cliProjectKey: 'todo-project'
      cliProjectName: 'todo-project'
      cliSources: '.'

  - task: SonarQubeAnalyze@7
    inputs:
      jdkversion: 'JAVA_HOME_17_X64'

  - task: SonarQubePublish@7
    inputs:
      pollingTimeoutSec: '300'

  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'run build'